<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<title>Ukraine Fundraiser</title><!-- Mobile Metas -->
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<!-- Google Fonts  -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel=
	'stylesheet' type='text/css'><!-- Body font -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel=
	'stylesheet' type='text/css'><!-- Navbar font -->
	<!-- Libs and Plugins CSS -->
	<link href="/inc/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/inc/animations/css/animate.min.css" rel="stylesheet">
	<link href="/inc/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- Font Icons -->
	<link href="/inc/owl-carousel/css/owl.carousel.css" rel="stylesheet">
	<link href="/inc/owl-carousel/css/owl.theme.css" rel="stylesheet">
	<!-- Theme CSS -->
	<link href="/css/reset.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/mobile.css" rel="stylesheet"><!-- Skin CSS -->
	<link href="/css/skin/cool-gray.css" rel="stylesheet">
	<!-- <link rel="stylesheet" href="css/skin/ice-blue.css"> -->
	<!-- <link rel="stylesheet" href="css/skin/summer-orange.css"> -->
	<!-- <link rel="stylesheet" href="css/skin/fresh-lime.css"> -->
	<!-- <link rel="stylesheet" href="css/skin/night-purple.css"> -->
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body data-spy="scroll" data-target="#main-navbar">
	<div class="page-loader"></div><!-- Display loading image while page loads -->
	<div class="body">
		<!--========== BEGIN HEADER ==========-->
		<header class="header-main" id="header">
			<!-- Begin Navbar -->
			<nav class="navbar navbar-default navbar-fixed-top" id="main-navbar" role=
			"navigation">
				<!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button class="navbar-toggle collapsed" data-target=
						"#bs-example-navbar-collapse-1" data-toggle="collapse" type=
						"button"><span class="sr-only">Toggle navigation</span> <span class=
						"icon-bar"></span> <span class="icon-bar"></span> <span class=
						"icon-bar"></span></button>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a class="page-scroll" href="body">Home</a>
							</li>
							<li>
								<a class="page-scroll" href="#about-section">About</a>
							</li>
							<li>
								<a class="page-scroll" href="#team-section">Our Team</a>
							</li>
							<li>
								<a class="page-scroll" href="#contact-section">Contact</a>
							</li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container -->
			</nav><!-- End Navbar -->
		</header><!-- ========= END HEADER =========-->
		<!-- Begin text carousel intro section -->
		<section class="parallax" data-stellar-background-ratio="0.5" id=
		"text-carousel-intro-section">
			<div class="container">
				<div class="caption text-center text-white" data-stellar-ratio="0.7">
					<div class="owl-carousel" id="owl-intro-text">
						<div class="item">
							<h1>Let's Help A Great Cause</h1>
							<p>Ukrainian doctors need your help</p>
							<div class="extra-space-l"></div><a class="page-scroll btn btn-blank"
							href="#about-section" role="button" target="_blank">View More!</a>
						</div>
						<div class="item">
							<h1>Join Our Mission</h1>
							<p>To raise money for training and equipment</p>
							<div class="extra-space-l"></div><a class="page-scroll btn btn-blank"
							href="#about-section" role="button" target="_blank">View More!</a>
						</div>
						<div class="item">
							<h1>A Little Goes A Long Way</h1>
							<p>You can made a difference</p>
							<div class="extra-space-l"></div><a class="page-scroll btn btn-blank"
							href="#about-section" role="button" target="_blank">View More!</a>
						</div>
					</div>
				</div><!-- /.caption -->
			</div><!-- /.container -->
		</section><!-- End text carousel intro section -->
		<!-- Begin about section -->
		<section class="page bg-style1" id="about-section">
			<!-- Begin page header-->
			<div class="page-header-wrapper">
				<div class="container">
					<div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
						<h2>About</h2>
						<div class="devider"></div>
					</div>
				</div>
			</div><!-- End page header-->
			<!-- Begin rotate box-1 -->
			<div class="rotate-box-1-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<a class="rotate-box-1 square-icon wow zoomIn" data-wow-delay=
							"0"><span class="rotate-box-icon"><i class="fa fa-users"></i></span>
							<div class="rotate-box-info">
								<h4>Who We Are?</h4>
								<p>We are a team of fundraisers based in Ukraine looking to raise money
								from around the world to improve healthcare in Ukraine</p>
							</div></a>
						</div>
						<div class="col-md-3 col-sm-6">
							<a class="rotate-box-1 square-icon wow zoomIn" data-wow-delay=
							"0.2s"><span class="rotate-box-icon"><i class=
							"fa fa-diamond"></i></span>
							<div class="rotate-box-info">
								<h4>What We Do?</h4>
								<p>We spend our time fundraising for a cause we firmly believe in. Our
								mission is to raise money to invest in training and equipment for
								highly capable doctors in Ukraine</p>
							</div></a>
						</div>
						<div class="col-md-3 col-sm-6">
							<a class="rotate-box-1 square-icon wow zoomIn" data-wow-delay=
							"0.4s"><span class="rotate-box-icon"><i class="fa fa-heart"></i></span>
							<div class="rotate-box-info">
								<h4>Why We Do It?</h4>
								<p>We see the state of healthcare in our country, and believe with
								enough fundraising we can drastically improve training for doctors for
								the benefit of all Ukrainians</p>
							</div></a>
						</div>
						<div class="col-md-3 col-sm-6">
							<a class="rotate-box-1 square-icon wow zoomIn" data-wow-delay=
							"0.6s"><span class="rotate-box-icon"><i class=
							"fa fa-clock-o"></i></span>
							<div class="rotate-box-info">
								<h4>Since When?</h4>
								<p>This began when we saw people needlessly passing away in our country
								because of a simple lack of doctor training and specialised
								equipment</p>
							</div></a>
						</div>
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- End rotate box-1 -->
			<div class="extra-space-l"></div>
			<div class="col-md-4">
				<a class="rotate-box-1 square-icon wow zoomIn" data-wow-delay=
				"0.2s">
				<h1>Who Are We?</h1>
				<p class="desc_text">My name is Dr Svitlana Tattum, I am originally from Ukraine and I am an
				Anaesthetist who has been working in the UK for the last 9 years. I am
				hoping to raise additional funds for my project to train and enhance the
				skills of Ukrainian anaesthetists. Let me offer some background information
				about myself so that you can understand my motivation. I graduated in 1992
				in Zaporozhye, Ukraine and then undertook specialised Anaesthetic training.
				Their passion for their subject inspired me so much that I graduated top of
				my medical class. When I later decided to move to and work in the UK, I
				faced a reality check. Despite my high achievements in Ukraine, I found
				that I lacked certain advanced skills and equipment knowledge required for
				the UK market. Ukrainian training, though perfectly adequate, was just not
				as up-to-date as the UK. I therefore dedicated myself to hard work for 5
				years in order to bridge this knowledge and skills gap.. However, every day
				that I worked, I was thinking about my Ukranian colleagues who lacked the
				opportunity of such intense and vital training in Anaesthesia.
				</p>
				</div>
				<div class="col-md-4">
					<a class="rotate-box-1 square-icon wow zoomIn" data-wow-delay=
					"0.4s">
					<h1>What is the problem?</h1>
				<p class="desc_text">
				Due to the unsettled political situation in the Ukraine, government funding is
				diverted away from medicine and the field of Anaesthesia, amongst other
				surgical specialities, faces severe cutbacks. Where surgeons are still able
				to operate, the lack of anaesthetic appliances, drugs and equipment cannot
				guarantee a safe anaesthetic procedure – and the cost of this shortage is a
				life. I could not remain indifferent and knew I had to help.
				I went from hospital to hospital to ask for donations of anaesthetic
				appliances which I then sent over a period of time to Zaporozhye and Krivoy
				Rog of Ukraine. This led in turn to buying a couple of second-hand
				ventilators out of one hospital to support one Ukranian ICU. However, this
				all feels like a drop in the ocean and I know that I can, and must, do
				better but I can’t do this alone. I need your help! My idea is to help
				equip my former Ukranian teachers and colleagues with the important
				knowledge and skills that I have gained here in the UK. One of the things
				on the list is to upskill on “Difficult Airways Techniques” or “Ultrasound
				Guided Blocks” courses. Such knowledge will not only help patients by
				providing safer anaesthetics but also reduce complications due to better
				skilled doctors. I will take these courses to the Ukraine, teach my
				colleagues of Advanced Training in Anaesthesia and spread the skills and
				knowledge from hospital to hospital, city to city, showing every
				anaesthetist in the country the advantages of Ultrasound Usage for regional
				anaesthesia and Lines Insertion, together with the different Intubating
				techniques. I would hope to demonstrate to the leaders/managers of
				Ukrainian hospitals the economic benefits of having such knowledge and
				equipment in their hospitals. Of course, this all requires funding to bring
				in specialist equipment, even second hand and this is where I need your
				generous help in order to set up my proposed courses. My project will need
				money for the necessary anaesthetic equipment, dummies to demonstrate the
				above two courses and various other specialised items. I have prepared a
				breakdown of estimated expenses that this venture will incur, as follows:
				</p>
				</div>
				<div class="col-md-4">
					<a class="rotate-box-1 square-icon wow zoomIn" data-wow-delay=
					"0.6s">
					<h1>What Do We Need?</h1>
				<ol class="desc_text">
					<li><br>
					1. S-Nerve US mashine (second-hand) - £ 6,000 X 2</li>
					<li><br>
					2. Mc Graft Mac Enchanced Direct Laryngoscope – £3,000</li>
					<li><br>
					3. Ventrain :Purpose –build ejector pump (DE-5) (new) - £4,250 Second hand
					- £2,500</li>
					<li><br>
					4. Karl STORZ Difficult airway products - £ 1,500 - £3,000</li>
					<li><br>
					5. Sono-site US mashine (second hand) £ 3,000 X2</li>
					<li><br>
					6. Video-laryngoscopes X3 (dif.sizes) £1,447X 3</li>
					<li><br>
					7. Copilot Video laryngoscope £2,999</li>
				</ol>
			</div>
		</section><!-- End about section -->
		<!-- Begin cta -->
		<section id="cta-section">
			<div class="cta">
				<div class="container">
					<div class="row">
						<div class="col-md-9">
							<h1>Watch Our Video</h1>
						</div>
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div>
		</section><!-- End cta -->
		<!-- Begin social section -->
		<section id="social-section">
			<!-- Begin page header-->
			<div class="page-header-wrapper">
				<div class="container">
					<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
						<h2>Join Us</h2>
						<div class="devider"></div>
						<p class="subtitle">Follow us on social networks</p>
					</div>
				</div>
			</div><!-- End page header-->
			<div class="container">
				<ul class="social-list">
					<li>
						<a class="rotate-box-1 square-icon text-center wow zoomIn"
						data-wow-delay="0.3s" href="#"><span class="rotate-box-icon"><i class=
						"fa fa-facebook"></i></span></a>
					</li>
					<li>
						<a class="rotate-box-1 square-icon text-center wow zoomIn"
						data-wow-delay="0.4s" href="#"><span class="rotate-box-icon"><i class=
						"fa fa-twitter"></i></span></a>
					</li>
				</ul>
			</div>
		</section><!-- End social section -->

		<!-- Begin team photo section -->

		<section class="page images text-white parallax" data-stellar-background-ratio="0.5" id=
		"team-section">
		<div class="container">
	    <div class="row">
	      <div class="span12 carousel-container">
	          <div id="carousel" class="carousel slide carousel-fade">

	            <!-- Carousel items -->
	            <div class="carousel-inner">
	              <div data-slide-no="0" class="item carousel-item active">
	                <img src="img/team_photo1.png" alt="">
	                <div class="carousel-caption">
	                  <h4>Our Wonderful Team</h4>
	                  <p>This is our team</p>
	                </div>
	              </div>
	              <div data-slide-no="1" class="item carousel-item">
	                <img src="img/team_photo2.png" alt="">
	                <div class="carousel-caption">
	                  <h4>Our Team</h4>
	                  <p>Random text</p>
	                </div>
	              </div>
	              <div data-slide-no="2" class="item carousel-item">
	                <img src="img/surgery_photo1.png" alt="">
	                <div class="carousel-caption">
	                  <h4>They work relentlessly</h4>
	                  <p>To provide the best care with the tools they have</p>
	                </div>
	              </div>
	            </div>
	            <!-- Carousel nav -->
	            <a class="carousel-control left" href="#carousel" data-slide="prev">‹</a>
	            <a class="carousel-control right" href="#carousel" data-slide="next">›</a>
	          </div>
	          <ol class="carousel-indicators">
	            <li data-target="#carousel" data-slide-to="0" class="myCarousel-target active"></li>
	            <li data-target="#carousel" data-slide-to="1" class="myCarousel-target"></li>
	            <li data-target="#carousel" data-slide-to="2" class="myCarousel-target"></li>
	          </ol>

	      </div>
	    </div>
	  </div>
		</section><!-- End text carousel intro section -->

		<!-- End team photo section -->

		<!-- Begin contact section -->
		<section class="page text-white parallax" data-stellar-background-ratio="0.5"
		id="contact-section" style="background-image: url(img/ukraine-flag.jpg);">
			<div class="cover"></div><!-- Begin page header-->
			<div class="page-header-wrapper">
				<div class="container">
					<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
						<h2>Contacts</h2>
						<div class="devider"></div>
						<p class="subtitle">Contact us</p>
					</div>
				</div>
			</div><!-- End page header-->
			<div class="contact wow bounceInRight" data-wow-delay="0.4s">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="contact-info">
								<h4>Our Address</h4>
								<ul class="contact-address">
									<li><i class="fa fa-map-marker fa-lg"></i>&nbsp; 20 Upper Street<br>
									<br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;London, Islington<br>
									<br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;London, UK</li>
									<li><i class="fa fa-phone"></i>&nbsp; 07730 331616</li>
									<li><i class="fa fa-envelope"></i> victoriatattum@gmail.com</li>
									<li><i class="fa fa-skype"></i> Victoria Tattum</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="contact-form">
								<h4>Write to us</h4>
								<form role="form" action="/" method="post">
									<div class="form-group">
										<input class="form-control input-lg" placeholder="Your Name"
										required="" type="text" name="name">
									</div>
									<div class="form-group">
										<input class="form-control input-lg" placeholder="E-mail" required=""
										type="email" name="mail">
									</div>
									<div class="form-group">
										<input class="form-control input-lg" placeholder="Subject" required=
										"" type="text" name="subject">
									</div>
									<div class="form-group">
										<textarea class="form-control input-lg" placeholder="Message"
										required="" rows="5" name="body">
</textarea>
									</div><button class="btn wow bounceInRight" data-wow-delay="0.8s"
									type="submit">Send</button>
								</form>
							</div>
						</div>
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div>
		</section><!-- End contact section -->
		<a class="scrolltotop" href="#"><i class="fa fa-arrow-up"></i></a>
		<!-- Scroll to top button -->
	</div><!-- body ends -->
	<!-- Plugins JS -->
	<script src="/inc/jquery/jquery-1.11.1.min.js">
	</script>
	<script src="/inc/bootstrap/js/bootstrap.min.js">
	</script>
	<script src="/inc/owl-carousel/js/owl.carousel.min.js">
	</script>
	<script src="/inc/stellar/js/jquery.stellar.min.js">
	</script>
	<script src="/inc/animations/js/wow.min.js">
	</script>
	<script src="/inc/waypoints.min.js">
	</script>
	<script src="/inc/isotope.pkgd.min.js">
	</script>
	<script src="/inc/classie.js">
	</script>
	<script src="/inc/jquery.easing.min.js">
	</script>
	<script src="/inc/jquery.counterup.min.js">
	</script>
	<script src="/inc/smoothscroll.js">
	</script> <!-- Theme JS -->

	<script src="/js/theme.js">
	</script>
</body>
</html>
